# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# Ignore PDFs in references folder
**/references/*.pdf

# Ignore venv
venv/

# Ignore Copernicus Marine Credentials
copernicus-credentials.py